body {
	background-color: lightgray;
}

.buy-content {
	width: 100%;
	display: flex;
}

.block-left, .block-right {
	background-color: white;
	margin: 5px 0;
	padding: 0 10px;
	border-radius: 10px;
	border-style: solid;
	border-color: lightgray;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.block-left {
	width: 60%;
}
.block-right {
	width: 40%;
}

.title-remain,
.title-bought {
	font-size: 20px;
	font-weight: 700;
	padding: 13px;
	border-bottom: 1px solid #000000;
}

.container-right {
	background-color: white;
	border-radius: 1px;
	padding: 13px;
	border-bottom: 1px solid #000000;
}

.product-icon {
	background-color: #e8e8e8;
	font-size: 15px;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 5px;
}

.icon-product-amount,
.icon-product-amount-bought {
	background-color: #FF8C00;
	border-radius: 10px;
	display: inline-block;
	height: 20px;
	width: 20px;
	text-align: center;
}

.add-product {
	display: flex;
	align-items: center;
}

.product-name {
	margin-right: 10px;
}

.adding-product {
	background-color: blue;
	color: white;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	box-shadow: 2px 2px 2px lightgray;
}

.count-display {
	background-color: gray;
	border-radius: 5px;
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin: 0 5px;
}

.button-bought,
.button-square {
	background-color: white;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	box-shadow: 2px 2px 2px lightgray;
}

.button-square {
	background-color: red;
	color: white;
}

.round-button-red,
.disabled-round-button-red,
.round-button-green {
	background-color: red;
	color: white;
	border: none;
	border-radius: 50%;
	padding: 10px;
	box-shadow: 2px 2px 2px lightgray;
}

.disabled-round-button-red {
	background-color: lightgray;
}

.round-button-green {
	background-color: green;
}

.round-button-red:not(:disabled):hover {
	background-color: darkred;
}

.round-button-green:not(:disabled):hover {
	background-color: darkgreen;
}

.badge {
	display: flex;
	flex-direction: column;
	position: fixed;
	bottom: 20px;
	width: 90px;
	height: 30px;
	left: 35px;
	padding: 8px 10px;
	border-radius: 5px;
	box-sizing: border-box;
	overflow: hidden;
	background-color: purple;
	color: white;
}

.badge-content {
	background-color: inherit;
	font-weight: bold;
}

.badge-text {
	margin-top: 10px;
	background-color: inherit;
	font-weight: normal;
}

.badge:hover {
	width: 90px;
	height: 70px;
	bottom: 25px;
	left: 35px;
	display: block;
	flex-wrap: wrap;
	position: fixed;
	transition: height 1s;
	background-color: purple;
}

@media print {
	.badge {
		width: 90px;
		height: 40px;
		overflow: visible;
		border: 1px solid mediumpurple;
		background-color: transparent;
		color: black;
	}

	.badge-content {
		display: none;
	}

	.badge-text {
		margin-top: -5px;
		position: absolute;
	}
}

@media all and (max-width: 500px) {
	.buy-content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.block-right {
		width: 100%;
	}

	.block-left {
		width: 100%;
	}

}

.round-button-green::before,
.round-button-red::before,
.button-bought::before,
.button-square::before,
.adding-product::before {
	content: attr(data-tooltip);
	--scale: 0;
	left: 50%;
	padding: 10px 20px;
	position: absolute;
	background-color: mediumpurple;
	width: max-content;
	max-width: 100%;
	font-size: x-small;
	color: white;
	border-radius: 10px;
	transform: translateX(-50%) translateY(-130%) scale(var(--scale));
	transition: transform 0.5s;
	transform-origin: bottom center;
}

.button-bought::before, .button-square::before {
	transform: translateX(-50%) translateY(-143%) scale(var(--scale));
}

.adding-product::before {
	transform: translateX(-50%) translateY(-160%) scale(var(--scale));
}
